html {
    font-family: Arial, Helvetica;
}

h1 {
    color: #6c2eb9;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
}

ul {
    font-size: 1.5em;
}

.menu {
    margin-top: 50px;
    text-align: center;
}

.menu li {
    display: inline-block;
    margin: 0 30px 30px 0;
}

.menu li a {
    text-decoration: none;
    color: #5251aa;
}

table {
    border: 1px solid;
    table-layout: fixed;
    border-collapse: collapse;
    font-family: sans-serif;
    font-size: 14px;
    margin-top: 30px;
}

th, td {
    border: 1px solid;
    border-color: rgb(212, 212, 212);
    padding: 10px;
}

th {
    font-weight: normal;
    width: 200px;
}

thead {
    text-align: left;
    font-weight: bold;
}

tbody tr:nth-child(odd) {
    background-color: rgb(240, 240, 240);
}

tbody tr:nth-child(even) {
    background-color: white;
}

h3 {
    font-size: 16px;
    margin-bottom: 30px;
    text-align: center;
}

form {
    text-align: center;
    font-size: 12px;
}

form label {
    font-weight: bold;
    font-family: Arial, Helvetica;
    margin-right: 15px;
}

form input {
    margin: 5px;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    margin-top: 15px;
    padding: 10px 22px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

h2 {
    font-size: 16px;
    margin-bottom: 15px;
    text-align: center;
}

.boton-aceptar {
    background-color: #4CAF50;
    margin: 0 auto;
    padding: 10px 22px;
    border-radius: 8px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    width: 50px;
    margin-left: 47%;
    transform: translateX(-45%);
}

.boton-eliminar {
    background-color: #f44336;
    margin-top: 10px;
    padding: 10px 22px;
    border-radius: 8px;
    color: white;
    text-align: justify;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    width: 50px;
    transform: translateX(-45%);
}

.boton-editar {
    background-color: #4CAF50;
    margin: 0 auto;
    border-radius: 8px;
    padding: 5px 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
}

.boton-borrar {
    background-color: #f44336;
    margin-top: 10px;
    border-radius: 8px;
    padding: 5px 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
}
